@use '../../components/buttons' as button;
@use '../../components/title';

.featured {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--grid-gap);

    &__header {
        margin-top: 2rem;
    }

    &__name {
        margin: 0;
        font-weight: 300;
        font-size: var(--font-size-1);
    }

    &__title {
        margin: 5rem 0 1.5rem 0;
        font-size: var(--font-size-6);
        font-weight: 200;
    }

    &__explore {
        @include button.standard;
        margin-top: 2rem;

    }

    &__img {
        margin: 0;
        position: relative;

        img{
            display: block;
            position: relative;
        }

        &::after{
            content: '';
            width: 200px;
            height: auto;
            position: absolute;
            top: 80px;
            bottom: 140px;
            background-color: var(--color-dark);
            right: -100px;
            z-index: -1;
        }
    }

    &__content {
        
        p {
            line-height: 2;
            max-width: 350px;
        }
    }

}

.projects{
    grid-column: 3 / -1;
    margin-right: calc( var(--page-padding)*-1);
    display: flex;
    gap: var(--grid-gap);
    overflow-x: auto;
    margin-top: var(--section-gap);
}

.project {
    flex: 0 0 310px;

    &__header {
        background-position: center;
        background-size: cover;
        aspect-ratio: 6/4;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    &__title{
        @include title.small
    }

    &__name {
        font-weight: 200;
    }

    &__readmore {
        display: block;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-light);
    }
}