
@mixin standard($background: var(--color-dark), $color: var(--color-light), $border-radius: 0px, $hover: var(--color-dark), $hover-text: var(--color-medium) ) {
    background-color: $background;
    color: $color;
    display: inline-block;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: $border-radius;
    font-size: var(--font-size-1);
    font-family: var(--font-sans);
    font-weight: 600;
    border: 0;
    cursor: pointer;

    &:hover {
        background-color: $hover;
        color: $hover-text;
    }
}