@use '../components/buttons' as button;
.site-footer {
    padding-top: var(--section-gap);
    display: grid;
    grid-template-columns: var(--grid-container);
    background-color: var(--color-dark);
    color: var(--color-light);

    &__inner {
        grid-column: inner;
        display: grid;
        grid-template-columns: var(--grid-content);
        gap: var(--section-gap) var(--grid-gap);
        
    }

    &__content {
        grid-column: 2 / 6;
    }

    .newsletter{
        grid-column: 9 / 12;
        align-self: end;

        &__title {
            font-size: var(--font-size-3);
            margin: 0 0 1rem 0;
        }

        &__form {
            position: relative;
        }

        &__input {
            width: 100%;
            height: 50px;
            border: 0;
            border-bottom: 3px solid var(--color-light-medium);
            background: none;
            color: var(--color-light);
            font-family: var(--font-sans);
            font-size: var(--font-size-1);
            &:focus {
                outline: 0;
                border-color: var(--color-light);
            }
        }

        &__submit {
            position: absolute;
            right: 0;
            top: 0;
            background: none;
            border: 0;
            padding: 0;
            height: 50px;
        }

        &__description {
            font-size: var(--font-size-xs);
            font-weight: 200;
            color: var(--color-light-medium);
        }


    }

    &__copyright {
        grid-column: wide;
        padding: 2rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        color: var(--color-light-medium);
        font-size: var(--font-size-small);
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100vw;
            background-color: var(--color-light-medium);
            height: 1px;
        }

    }

    .copyrigth {
        text-align: center;
        
    }

    .social {
        display: flex;
        justify-content: flex-end;

         &__list {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            gap: 2rem;
        }

        &__link, a{
            color: var(--color-light);
        }
    }
}

.hire {

    &__content {
        
        p {
            line-height: 2;
            max-width: 350px;
        }
    }

    &__title {
        margin: 0rem 0 1rem 0;
        font-size: var(--font-size-6);
        font-weight: 200;
    }

    &__explore {
        @include button.standard( $background: var(--color-light), $color: var(--color-dark), $hover: var(--color-light));
        margin-top: 1rem;

    }

}

