.site-header {
    display: grid;
    grid-template-columns: var(--grid-container);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--menu-height);

    &__inner {
        grid-column: inner;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__buttons {
        display: flex;
        align-items: center;
    }

}

.languages {
    margin-right:4rem ;

    &__list {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__item {
        font-weight: 200;
        color: var(--color-light);

        &::after{
            content: '/';
            margin: 0.5rem;
        }

        &:last-of-type{
            &::after{
                display: none;
            }
        }

        &--current{
            font-weight: 600;
        }
    }

    &__link{
        color: var(--color-light);
    }
}

