@use '../components/title'; 

.hero {
    display: grid;
    grid-template-columns: var(--grid-container);
    min-height: 100vh;
    background-image: url(assets/images/hero@2x.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        background-color: var(--color-dark);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.4;

    }

    &::after{
        content: '';
        position: absolute;
        background-color: var(--color-light);
        right: 0;
        width: 100px;
        top: 0;
        bottom: 0;
    }
    

    &__inner {
        grid-column: inner;
        display: grid;
        grid-template-columns: var(--grid-content);
        gap: var(--grid-gap);
        align-items: center;
    }

    &__content{
        z-index: 2;
        position: relative;
        grid-column: wide;
        max-width: var(--content-width);
        width: 100%;
        color: var(--color-light);
       
    }

    &__title {
        font-weight: 200;
        font-size: clamp(0.125rem, -3.7841rem + 15.6364vw, 5.5rem);
        max-width: var(--content-width);
        line-height: 1.1;
        margin: 0;
    }

    &__ingress {
        max-width: var(--content-width-small);
    }
}

.slider{

    &-pagination {
        position: absolute;
        background-color: var(--color-dark);
        left: 0;
        bottom: 0;
        z-index: 4;
        display: flex;
        align-items: center;
    }

    &__arrow {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__meta {
        display: flex;
        color: var(--color-light);
        font-weight: 200;
    }

    &__counter {
        display: flex;
        align-items: center;
        strong {
            &::after {
                content: '/';
                margin: 0 0.3rem;
            }
        }
        &::after{
            content: '';
            display: block;
            width: 2rem;
            height: 2px;
            background-color: var(--color-light);
            margin: 0 1rem;
        }
    }

    &-description {
        position: absolute;
        background-color: var(--color-light);
        right: 0;
        bottom: 0;
        max-width:580px;
        width: 100%;
        padding: 4rem 9rem 4rem 5rem;
        z-index: 5;
    }

    &__title {
        @include title.small;
        line-height: 1.5;

    }

    &__text {
        font-size: var(--font-size-small);
        font-weight: 200;
        line-height: 2;
    }
}